{% extends 'base.html' %}
{% block title %} Resize Image {% endblock title %} 
{% block body %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Resize Your Images</h1>
                    <br>
                    <form action="/resizeimage" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="imageInput" class="form-label visually-hidden">Select Image to Resize</label>
                            <!-- Change name attribute to "file" to match Flask code -->
                            <input class="form-control" type="file" id="imageInput" name="file" accept="image/*">
                        </div>
                        <div class="mb-3">
                            <label for="widthInput" class="form-label">Width (pixels)</label>
                            <input class="form-control" type="number" id="widthInput" name="width" min="1" required>
                        </div>
                        <div class="mb-3">
                            <label for="heightInput" class="form-label">Height (pixels)</label>
                            <input class="form-control" type="number" id="heightInput" name="height" min="1" required>
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Resize Image</button>
                    </form>
                    {% if resized_img_url %}
                        <div class="alert alert-success mt-3" role="alert">
                            Image resized successfully!
                        </div>
                        <a href="{{ resized_img_url }}" class="btn btn-primary btn-lg btn-block mt-3">Click here to view your resized image</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
