{% extends 'base.html' %}
{% block title %} Upscale Image {% endblock title %} 
{% block body %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Upscale Your Images</h1>
                    <br>
                    <form action="/upscale" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="imageInput" class="form-label visually-hidden">Select Image to Upscale</label>
                            <!-- Change name attribute to "file" to match Flask code -->
                            <input class="form-control" type="file" id="imageInput" name="file" accept="image/*">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Upscale Image</button>
                    </form>
                    {% if upscaled_img_url %}
                        <div class="alert alert-success mt-3" role="alert">
                            Image upscaled successfully!
                        </div>
                        <a href="{{ upscaled_img_url }}" class="btn btn-primary btn-lg btn-block mt-3">View Upscaled Image</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
